
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Parameters</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">Parameters</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{{ path('app_iitg_admin_institut_index') }}">Institut</a></li>
                    <li><a href="{{ path('app_iitg_admin_direction_index') }}">Direction</a></li>
                    <li><a href="{{ path('app_iitg_admin_academic_year_index') }}">Année universitaire</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">Parcours</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{{ path('app_iitg_admin_domaine_index') }}">Domaine</a></li>
                    <li><a href="{{ path('app_iitg_admin_parcours_index') }}">Parcours</a></li>
                    <li><a href="{{ path('app_iitg_admin_filiere_index') }}">Filière</a></li>
                    <li><a href="{{ path('app_iitg_admin_speciality_index') }}">Spécialité</a></li>
                </ul>
            </li>
            <li class="nav-label">Inscription</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">Pré-Inscription</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{{ path('app_iitg_admin_open_pre_inscription_index') }}">Ouverture Pré-Inscription</a></li>
                    <li><a href="{{ path('app_iitg_admin_pre_inscription_index') }}">Pré-Inscription</a></li>
                    <li><a href="{{ path('app_iitg_admin_pre_inscription_all_attestations') }}">Génération des PDF d'attestation</a></li>


                </ul>
            </li>

            <li class="nav-label">Publication</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">News and events</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{{ path('app_iitg_admin_post_index') }}">News and events list</a></li>
                    <li><a href="{{ path('app_iitg_admin_post_new') }}">Add News</a></li>
                    <li><a href="{{ path('app_iitg_admin_type_post_index') }}">Types Post</a></li>
                </ul>
            </li>




        </ul>
    </div>
</div>