
<section class="our_courses_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading">
                    <h1>OFFRES DE FORMATIONS</h1>
                </div>
            </div>
        </div>
        <div class="row all_our_courses">
            <div class="col-md-4 col-sm-6">
                <div class="single_our_course">
                    <div class="sing_course_thumb">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/single_course_thumb_5.png" alt="">
                    </div>
                    <div class="sing_course_txt">
                        <img src="{{ asset('assets/iitg/') }}img/icon_course_1.png" alt="" class="course_icon">
                        <h2>LICENCES</h2>
                        <p>
                        <ol>
                            <li>Comptabilité Gestion Finance</li>
                            <li>Intelligence Artificielle</li>
                            <li>Logistique de Transport</li>
                            <li>Informatique de Gestion</li>
                        </ol>
                        </p>
                        <a href="#">Apply now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single_our_course">
                    <div class="sing_course_thumb">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/single_course_thumb_3.png" alt="">
                    </div>
                    <div class="sing_course_txt">
                        <img src="{{ asset('assets/iitg/') }}img/icon_course_2.png" alt="" class="course_icon">
                        <h2>MASTERS</h2>
                        <p>
                           <ol>
                            <li>Comptabilité(Expert Comptable)</li>
                            <li>Contrôle-Audit</li>
                            <li>Finance</li>
                        </ol>  
                        </p>
                        <a href="#">Apply now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single_our_course">
                    <div class="sing_course_thumb">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/single_course_thumb_4.png" alt="">
                    </div>
                    <div class="sing_course_txt">
                        <img src="{{ asset('assets/iitg/') }}img/icon_course_3.png" alt="" class="course_icon">
                        <h2>INGENIERIE</h2>
                        <p>
                            <ol>
                            <li>Genie Informatique</li>
                            <li>Génie des Télécommunication</li>
                            <li>Intélligence Artificielle</li>
                        </ol>  
                        </p>
                        <a href="#">Apply now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single_our_course">
                    <div class="sing_course_thumb">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/single_course_thumb_1.png" alt="">
                    </div>
                    <div class="sing_course_txt">
                        <img src="{{ asset('assets/iitg/') }}img/icon_course_4.png" alt="" class="course_icon">
                        <h2>MBA</h2>
                        <p>Dispensé en Anglais</p>
                        <a href="#">Apply now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
