{# NEWS #}
<section class="latest_courses_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading">
                    <h1>{% trans %}News{% endtrans %}</h1>
                    <p>{% trans %}Our news{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="all_latest_course">
                <div class="single_latest_courses">
                    <div class="sing_lat_course_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/news.png" alt="">
                    </div>
                    <div class="sing_lat_course_txt">
                        <h3>LITERATURE</h3>
                        <h2>Social courses</h2>
                        <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                            <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                        </ul>
                    </div>
                </div>
                <div class="single_latest_courses">
                    <div class="sing_lat_course_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/news.png" alt="">
                    </div>
                    <div class="sing_lat_course_txt">
                        <h3>management</h3>
                        <h2>Banking courses</h2>
                        <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                            <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                        </ul>
                    </div>
                </div>
                <div class="single_latest_courses">
                    <div class="sing_lat_course_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/news.png" alt="">
                    </div>
                    <div class="sing_lat_course_txt">
                        <h3>art</h3>
                        <h2>Dance courses</h2>
                        <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                            <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                        </ul>
                    </div>
                </div>
                <div class="single_latest_courses">
                    <div class="sing_lat_course_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/news.png" alt="">
                    </div>
                    <div class="sing_lat_course_txt">
                        <h3>art</h3>
                        <h2>Dance courses</h2>
                        <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                            <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                        </ul>
                    </div>
                </div>
                <div class="single_latest_courses">
                    <div class="sing_lat_course_photo">
                        <img src="{{ asset('assets/iitg/') }}img/iitg/news.png" alt="">
                    </div>
                    <div class="sing_lat_course_txt">
                        <h3>art</h3>
                        <h2>Dance courses</h2>
                        <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                            <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

