

<section class="our_partners section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_heading">
                    <h1>{% trans %}Partners{% endtrans %}</h1>
                    <p>{% trans %}Partners/Collaborators{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="all_partners">
                <div class="single_partner">
                    <a href="https://solutionsgalore.com/en/index/2/72"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_solutionsgalore.jpg" alt=""></a>
                </div>
                <div class="single_partner">
                    <a href="https://www.institutelite.ca/"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_institutelite.jpg" alt=""></a>
                </div>
                <div class="single_partner">
                    <a href="https://spectrum-institute.ca/"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_spectrum.jpg" alt=""></a>
                </div>
                <div class="single_partner">
                    <a href="https://iasa.academy/"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_iasa.jpg" alt=""></a>
                </div>
                <div class="single_partner">
                    <a href="https://www.biopeps.com/"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_biopeps.jpg" alt=""></a>
                </div>
                <div class="single_partner">
                    <a href="https://www.extra-cables.com/"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_extra_cables.jpg" alt=""></a>
                </div>
				 <div class="single_partner">
                    <a href="https://www.umoncton.ca/emat/node/1"><img src="{{ asset('assets/iitg/img/iitg/partners/') }}/logo_groupe_emat.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>