{% extends 'BaseAdmin.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
    <h1>Parcours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcour.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ parcour.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ parcour.description }}</td>
            </tr>
            <tr>
                <th>Abrv</th>
                <td>{{ parcour.abrv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_iitg_admin_parcours_index') }}">back to list</a>

    <a href="{{ path('app_iitg_admin_parcours_edit', {'id': parcour.id}) }}">edit</a>

    {{ include('iitg_admin/parcours/_delete_form.html.twig') }}
{% endblock %}
